<footer class="footer is-size-6">
    <div class="content has-text-centered">
        <p>
            Copyright © 2020 <a href="{{ '/' | url }}">NerdyCode</a>
        </p>
        <theme-toggle></theme-toggle>
    </div>
</footer>
