---
layout: base.njk
templateClass: tmpl-post
---

<h1 class="title is-3">⚡️ {{ title }}</h1>

<div class="columns">
    <div class="column is-three-quarters">
        {{ content | safe }}

        {% if references %}
            <div class="references-block">
                <span class="references-block__title">Further Reading</span>
                <ul>
                    {% for ref in references %}
                        <li>
                            <a href="{{ ref.url }}" target="_blank" rel="nofollow" title="{{ ref.title }}">
                                {{ ref.title }}
                            </a>&nbsp;{{ ref.note }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
    <div class="column">
        <aside class="sidebar">
            <div class="picture pb-6" style="max-width: 75%">
                <div class="picture__border">
                    <img src="/img/photos/rachel-cropped.jpg" alt="Rachel Software Engineer"/>
                    <figcaption>Hello, world.<br/>I'm Rachel, a software engineer.</figcaption>
                </div>
            </div>


            <div class="block">
            <h4 class="mini-header">
                <span>Tags</span>
            </h4>
            </div>

            <div class="block pb-5">
                {% for tag in tags %}
                    {%- if collections.tagList.indexOf(tag) != -1 -%}
                        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
                        <a href="{{ tagUrl | url }}" class="nc-tag is-primary">{{ tag }}</a>
                    {%- endif -%}
                {% endfor %}
            </div>

            <div class="block">
                <h4 class="mini-header">
                    <span>Published</span>
                </h4>
            </div>

            <div class="block pb-5 published">
                <p>{{ page.date | readableDate }}</p>
                {% if updated %}<p><i>Updated {{ updated | readableDate }}</i></p>{% endif %}
            </div>

            <div class="block">
                <h4 class="mini-header">
                    <span>Survey</span>
                </h4>
            </div>

            <div class="block published">
                <p>⭐️ Take a <a href="https://forms.gle/FSSazib9yTS9ygEt7" rel="nofollow" target="_blank">2 minute
                        survey</a> to help me
                    improve my website?</p>
            </div>
        </aside>
    </div>
</div>
