---
layout: base.njk
templateClass: tmpl-post
---

<h1 class="title is-3">{{ title }}</h1>

<div class="columns">
    <div class="column is-three-quarters">
        {{ content | safe }}


        {% if references %}
            <div class="references-block">
                <span class="references-block__title">Further Reading</span>
                <ul>
                    {% for ref in references %}
                        <li>
                            <a href="{{ ref.url }}" target="_blank" rel="nofollow" title="{{ ref.title }}">
                                {{ ref.title }}
                            </a>&nbsp;{{ ref.note }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
    <div class="column">
        <aside class="sidebar">
            Lex!!!!!
        </aside>
    </div>
</div>

<p class="home-link"><a href="{{ '/' | url }}">← Home</a></p>
