@import url("https://fonts.googleapis.com/css?family=Droid+Serif|Permanent+Marker");

/* ============================================
   Social Media (Page-specific)
   ============================================ */
.social-media {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 3em;
    text-align: center;
    z-index: 10
}

.social-media svg {
    height: auto;
    width: auto;
    max-height: 100%
}

.social-media svg path {
    fill: var(--color)
}

.social-media .social-media__item {
    height: 2rem;
    transform-origin: center;
    transition-duration: .2s;
    transition-property: opacity, transform;
    width: 4rem
}

.social-media .social-media__item:hover svg path {
    fill: var(--color-green)
}

.social-media .facebook {
    --color: #3b5998
}

.social-media .discord {
    --color: #7289DA
}

.social-media .github {
    --color: var(--text-color)
}

.social-media .instagram {
    --color: #E4405F
}

.social-media .linkedin {
    --color: #15aabf
}

.social-media .pinterest {
    --color: #BD081C
}

.social-media .reddit {
    --color: #FF4500
}

.social-media .rss {
    --color: #FFA500
}

.social-media .tumblr {
    --color: #36465D
}

.social-media .twitter {
    --color: #55acee
}

.social-media .youtube {
    --color: #FF0000
}
