@font-face {
  font-family: 'Quicksand', sans-serif;
  font-style:  normal;
  font-weight: 400;
  src: url("../../static/fonts/Quicksand-Regular.ttf") format("ttf");
}

@font-face {
  font-family: 'Quicksand', sans-serif;
  font-style:  normal;
  font-weight: 600;
  src: url("../../static/fonts/Quicksand-Medium.ttf") format("ttf");
}

@font-face {
  font-family: 'Quicksand', sans-serif;
  font-style:  normal;
  font-weight: 700;
  src: url("../../static/fonts/Quicksand-SemiBold.ttf") format("ttf");
}

@font-face {
  font-family: 'Quicksand', sans-serif;
  font-style:  normal;
  font-weight: 800;
  src: url("../../static/fonts/Quicksand-Bold.ttf") format("ttf");
}
