// FOOTER SOCIAL MEDIA ICONS

@import "../elements/social";

.footer--social-media {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  //flex-direction: column;
  padding: 3em;
  text-align: center;
  z-index: 10;

  svg {
    height: auto;
    width: auto;
    max-height: 100%;

    path {
      fill: var(--color);
    }
  }
}
