.border-top {
  border-top: 1px solid lightgrey;
}

.references-block, .further-reading {
  border-radius: 1rem;
  border: 1px dotted var(--color-blue);
  font-size: 0.7em;
  margin: 3em 0 0;
  padding: 3em;
}

.references-block__title {
  font-weight: 600;
  text-transform: uppercase;
}

.box-shadow {
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

.dotted-box {
  border-radius: 1rem;
  border: 1px dotted var(--color-blue);
}
