// Sidebar Stuff

// SIDEBAR
.sidebar {
  padding-left: 3em;
  
  @media (min-width: 320px) and (max-width: 480px) {
    padding-left: inherit;
  }
}


// Used for things like the sidebar
h4.mini-header {
  width: 100%;
  text-align: left;
  border-bottom: 1px solid var(--color-pink);
  line-height: 0.1em;
  margin: 10px 0 20px;
}

h4.mini-header span {
  background-color: var(--background);
  font-size: 0.8em;
  padding-right: 0.3em;
  text-transform: uppercase;
}

.published {
  font-size: 0.8em;
}

.sidebar .picture__border {
  padding: 20px 10px 15px;
}

.sidebar .picture__border figcaption {
  font: 0.8em "Permanent Marker";
}
