.border-top {
  border-top: 1px solid lightgrey;
}

.references-block, .further-reading {
  border-radius: 1rem;
  border: 1px dotted #24b1d1;
  font-size: 0.7em;
  margin: 3em 0 0;
  padding: 3em;
}

.references-block__title {
  font-weight: 600;
}

.box-shadow {
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

.dotted-box {
  border-radius: 1rem;
  border: 1px dotted #24b1d1;
}

.social-media {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  //flex-direction: column;
  padding: 3em;
  text-align: center;
  z-index: 10;

  svg {
    height: auto;
    width: auto;
    max-height: 100%;

    path {
      fill: var(--color);
    }
  }

  .social-media__item {
    //cursor: pointer;
    height: 2rem;
    //margin: 2em;
    transform-origin: center;
    transition-duration: .2s;
    transition-property: opacity,transform;
    width: 4rem;
  }

  .facebook {
    --color: #3b5998;
  }

  .instagram {}

  .neopets {}

  .pinterest {}

  .reddit {}

  .twitter {
    --color: #55acee;
  }

  .youtube {
    --color: #FF0000
  }
}
