
// LIGHT/DARK TOGGLE
// If there’s no JS, there’s no need for the user toggle component to show
.no-js .user-toggle {
  display: none;
}

.theme-toggle {
  padding: 0.5rem 0.75rem;
}

.user-toggle {
  margin: 2rem auto 0 auto;
  padding-top: 2.5rem;
  max-width: 20rem;
  border: none;
  text-align: center;
}

.toggle-button__icon {
  background: var(--button-icon);
  width: 1.2em;
  height: 1.2em;
  margin: 0 0 0 0.5em;
  filter: var(--button-icon-filter);
  transform: translateY(1px); // Optical adjustment
  transition: filter 500ms ease-in-out;
}

.js-mode-toggle {
  border: none;
  outline: none;
}

.js-mode-toggle:focus:not(:active), .js-mode-toggle.is-focused:not(:active) {
  box-shadow: none;
  outline: none;
}

.button.js-mode-toggle:focus, .button.js-mode-toggle:active, .button.js-mode-toggle.is-active {
  outline: none;
  border-color: inherit;
  color: inherit;
}


// LIGHT/DARK TOGGLE
// Presentation

// What was this for?!
/**
article {
  max-width: 75ch;
  margin: 0 auto;
}

article > * + * {
  margin-top: 1em;
}
 */

.visually-hidden {
  display: block;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(1px);
  white-space: nowrap;
  position: absolute;
}

