// CONTACT FORM

.label {
  color: var(--text-color);
}

.input, .textarea, .select select {
  background-color: var(--background-color);
  color: var(--text-color);
}

.contact-page .title {
  text-align: center;
}
