@charset "utf-8";

// Import initial Bulma variables
@import "../../node_modules/bulma/sass/utilities/initial-variables";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

//$family-sans-serif: 'Open Sans', serif;
$family-sans-serif: 'Quicksand', sans-serif;

$body-font-size: 1.4em;

$nerdy-bg: #16161d;
$nerdy-fg: #f8f8f2;
$nerdy-cyan: #29ced2;
$nerdy-green: #50fa7b;
$nerdy-orange: #ffb86c;
$nerdy-pink: #db2e90;
$nerdy-purple: #5a3da5;
$nerdy-yellow: #f1fa8c;

$primary: $nerdy-purple;
$scheme-main: #16161d;

//$link: $nerdy-pink;
$link: lighten($nerdy-pink, 5%);
//$link-hover: lighten($nerdy-pink, 5%);
//$link-hover-border: lighten($nerdy-pink, 5%);
//$link-focus: darken($nerdy-pink, 5%);
//$link-focus-border: darken($nerdy-pink, 5%);
//$link-hover: $turquoise;
$link-hover: darken($nerdy-cyan, 5%);
$link-active: lighten($nerdy-pink, 5%);
$link-active-border: lighten($nerdy-pink, 5%);

a.tag:hover {
  text-decoration: none !important;
}

$text: $nerdy-fg;
$text-light: lighten($nerdy-fg, 5%);
$text-strong: darken($nerdy-fg, 5%);

$background: $nerdy-bg;

// Update some of Bulma's component variables
$title-color: $nerdy-fg;
$subtitle-color: $nerdy-fg;
$subtitle-strong-color: darken($nerdy-fg, 5%);

$body-background-color: $nerdy-bg;
$footer-background-color: $nerdy-bg;

// Import the rest of Bulma

@import "../../node_modules/bulma/bulma";

// Now that Bulma has been imported,
// you can import the rest of the overrides.

@import "home";
@import "overrides";

.hidden {
  display: none;
}

.rc-anchor-light {
  background: none;
  color: #FFF;
  font-family: inherit;
}


