@import url("https://fonts.googleapis.com/css?family=Droid+Serif|Permanent+Marker");

/* ============================================
   Home Page Sidebar
   ============================================ */
.sidebar {
    padding-left: 3em
}

@media (min-width: 320px) and (max-width: 480px) {
    .sidebar {
        padding-left: inherit
    }
}

/* ============================================
   Mini Header
   ============================================ */
h4.mini-header {
    width: 100%;
    text-align: left;
    border-bottom: 1px solid var(--color-pink);
    line-height: 0.1em;
    margin: 10px 0 20px
}

h4.mini-header span {
    background-color: var(--background);
    font-size: 0.8em;
    padding-right: 0.3em;
    text-transform: uppercase
}

/* ============================================
   Published Date
   ============================================ */
.published {
    font-size: 0.8em
}

/* ============================================
   Sidebar Picture Adjustments
   ============================================ */
.sidebar .picture__border {
    padding: 20px 10px 15px
}

.sidebar .picture__border figcaption {
    font: 0.8em "Permanent Marker"
}

/* ============================================
   Home Page Latest Ramblings
   ============================================ */
.home--latest-ramblings {
    margin-top: 3em
}

.tmpl-home .picture {
    margin-bottom: inherit
}

/* ============================================
   Landing Section
   ============================================ */
.landing {
    font-size: 1.5rem
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center
}

/* ============================================
   Typing Animation
   ============================================ */
.typing {
    width: 26ch;
    animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 6px solid;
    font-family: monospace;
    font-size: 1em
}

.is-hidden-tablet .typing {
    margin: 1em 0
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}
