@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap");

/* ============================================
   CSS Custom Properties (Theme Colors)
   ============================================ */
:root {
    --color-mode: 'dark';
    --color-dark: #16161d;
    --color-dark-alpha: rgba(0, 0, 0, 0.1);
    --color-light: #efefef;
    --color-light-alpha: rgba(255, 255, 255, 0.9);
    --color-blue: #329ebb;
    --color-green: #b1bf52;
    --color-orange: #e48c5c;
    --color-pink: #d53492;
    --color-purple: #5a3da5;
    --color-yellow: #ebdf41;
    --icon-sun: url('data:image/svg+xml,  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">    <path d="M18 12c0-0.811-0.161-1.587-0.455-2.295-0.304-0.735-0.75-1.395-1.303-1.948-0.552-0.552-1.213-0.998-1.948-1.303-0.707-0.293-1.483-0.454-2.294-0.454s-1.587 0.161-2.295 0.455c-0.735 0.304-1.395 0.75-1.948 1.302s-0.998 1.213-1.302 1.948c-0.294 0.708-0.455 1.484-0.455 2.295s0.161 1.587 0.455 2.295c0.304 0.735 0.75 1.395 1.303 1.948 0.552 0.552 1.213 0.998 1.948 1.303 0.707 0.293 1.483 0.454 2.294 0.454s1.587-0.161 2.295-0.455c0.735-0.304 1.395-0.75 1.948-1.303s0.998-1.213 1.303-1.948c0.293-0.707 0.454-1.483 0.454-2.294zM16 12c0 0.544-0.108 1.060-0.303 1.529-0.202 0.489-0.5 0.929-0.869 1.299s-0.81 0.667-1.299 0.869c-0.469 0.195-0.985 0.303-1.529 0.303s-1.060-0.108-1.529-0.303c-0.489-0.202-0.929-0.5-1.299-0.869s-0.667-0.81-0.869-1.299c-0.195-0.469-0.303-0.985-0.303-1.529s0.108-1.060 0.303-1.529c0.202-0.489 0.5-0.929 0.869-1.299s0.81-0.667 1.299-0.869c0.469-0.195 0.985-0.303 1.529-0.303s1.060 0.108 1.529 0.303c0.489 0.202 0.929 0.5 1.299 0.869s0.667 0.81 0.869 1.299c0.195 0.469 0.303 0.985 0.303 1.529zM11 1v2c0 0.552 0.448 1 1 1s1-0.448 1-1v-2c0-0.552-0.448-1-1-1s-1 0.448-1 1zM11 21v2c0 0.552 0.448 1 1 1s1-0.448 1-1v-2c0-0.552-0.448-1-1-1s-1 0.448-1 1zM3.513 4.927l1.42 1.42c0.391 0.391 1.024 0.391 1.414 0s0.391-1.024 0-1.414l-1.42-1.42c-0.391-0.391-1.024-0.391-1.414 0s-0.391 1.024 0 1.414zM17.653 19.067l1.42 1.42c0.391 0.391 1.024 0.391 1.414 0s0.391-1.024 0-1.414l-1.42-1.42c-0.391-0.391-1.024-0.391-1.414 0s-0.391 1.024 0 1.414zM1 13h2c0.552 0 1-0.448 1-1s-0.448-1-1-1h-2c-0.552 0-1 0.448-1 1s0.448 1 1 1zM21 13h2c0.552 0 1-0.448 1-1s-0.448-1-1-1h-2c-0.552 0-1 0.448-1 1s0.448 1 1 1zM4.927 20.487l1.42-1.42c0.391-0.391 0.391-1.024 0-1.414s-1.024-0.391-1.414 0l-1.42 1.42c-0.391 0.391-0.391 1.024 0 1.414s1.024 0.391 1.414 0zM19.067 6.347l1.42-1.42c0.391-0.391 0.391-1.024 0-1.414s-1.024-0.391-1.414 0l-1.42 1.42c-0.391 0.391-0.391 1.024 0 1.414s1.024 0.391 1.414 0z"></path>  </svg>');
    --icon-sun-filter: invert(0.61) sepia(0.8) saturate(5) hue-rotate(0deg) brightness(0.92);
    --icon-moon: url('data:image/svg+xml,  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">    <path d="M21.996 12.882c0.022-0.233-0.038-0.476-0.188-0.681-0.325-0.446-0.951-0.544-1.397-0.219-0.95 0.693-2.059 1.086-3.188 1.162-0.696 0.047-1.399-0.027-2.077-0.226-0.656-0.192-1.29-0.501-1.874-0.932-0.655-0.484-1.181-1.074-1.575-1.729-0.409-0.68-0.676-1.432-0.792-2.206s-0.082-1.571 0.11-2.342c0.184-0.741 0.514-1.46 0.999-2.115 0.142-0.191 0.216-0.435 0.191-0.691-0.053-0.55-0.542-0.952-1.092-0.898-1.117 0.109-2.186 0.399-3.172 0.843-1.005 0.452-1.925 1.065-2.723 1.808-0.883 0.82-1.618 1.801-2.159 2.901-0.523 1.064-0.863 2.238-0.978 3.485-0.125 1.347 0.024 2.658 0.402 3.878 0.392 1.266 1.031 2.431 1.863 3.433s1.86 1.843 3.033 2.461c1.13 0.595 2.392 0.982 3.739 1.106s2.659-0.025 3.878-0.403c1.266-0.392 2.431-1.031 3.433-1.863s1.843-1.86 2.461-3.033c0.595-1.13 0.982-2.392 1.106-3.739zM19.567 14.674c-0.126 0.351-0.276 0.689-0.447 1.014-0.493 0.937-1.166 1.76-1.969 2.427s-1.735 1.178-2.747 1.491c-0.973 0.302-2.021 0.421-3.102 0.321s-2.089-0.41-2.99-0.884c-0.937-0.493-1.76-1.166-2.427-1.969s-1.178-1.735-1.491-2.747c-0.302-0.973-0.421-2.021-0.321-3.102 0.092-1 0.365-1.938 0.782-2.786 0.43-0.878 1.018-1.661 1.725-2.319 0.64-0.595 1.377-1.086 2.183-1.449 0.179-0.081 0.362-0.155 0.548-0.223-0.092 0.257-0.171 0.516-0.236 0.778-0.256 1.029-0.302 2.091-0.147 3.121s0.51 2.032 1.056 2.941c0.527 0.875 1.23 1.663 2.1 2.306 0.775 0.573 1.622 0.986 2.5 1.243 0.907 0.266 1.846 0.364 2.772 0.302 0.752-0.050 1.496-0.207 2.21-0.465z"></path>  </svg>');
    --icon-moon-filter: invert(0.75);
    --background: var(--color-dark);
    --text-color: var(--color-light);
    --button-icon: var(--icon-sun);
    --button-icon-filter: var(--icon-sun-filter);
    --button-background: var(--color-light);
    --button-color: var(--color-dark);
    --border-color: var(--color-light-alpha);
    --code-background: #353535;
    --background-blue: var(--color-blue);
    --background-green: var(--color-green);
    --background-orange: var(--color-orange);
    --background-pink: var(--color-pink);
    --background-purple: var(--color-purple);
    --background-yellow: var(--color-yellow)
}

/* ============================================
   Light Theme
   ============================================ */
[data-user-color-scheme="light"] {
    --background: var(--color-light);
    --text-color: var(--color-dark);
    --button-icon: var(--icon-moon);
    --button-icon-filter: var(--icon-sun-filter);
    --button-background: var(--color-dark-alpha);
    --button-color: var(--color-light);
    --border-color: var(--color-dark-alpha)
}

/* ============================================
   Dark Theme
   ============================================ */
[data-user-color-scheme="dark"] {
    --background: var(--color-dark);
    --text-color: var(--color-light);
    --button-icon: var(--icon-sun);
    --button-icon-filter: var(--icon-sun-filter);
    --button-background: var(--color-light-alpha);
    --button-color: var(--color-dark);
    --border-color: var(--color-light-alpha)
}

[data-user-color-scheme="dark"] pre[class*=language-] {
    box-shadow: none
}

/* ============================================
   Reduced Motion
   ============================================ */
@media (prefers-reduced-motion: reduce) {
    body {
        scroll-behavior: auto
    }

    * {
        -webkit-animation: none !important;
        animation: none !important;
        transition: none !important
    }
}

/* ============================================
   Base Element Overrides
   ============================================ */
html, body, .navbar {
    background-color: var(--background);
    color: var(--text-color)
}

hr {
    height: 1px
}

strong {
    color: inherit
}

/* ============================================
   Layout
   ============================================ */
.condense {
    width: 100%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 32px;
    padding-right: 32px
}

.hidden {
    display: none
}

/* ============================================
   Bulma Overrides
   ============================================ */
.section {
    padding: 2rem 1.5rem !important
}

.button {
    background-color: var(--background)
}

.box, .table, .footer, .content blockquote {
    background-color: var(--background);
    color: var(--text-color)
}

.footer {
    background-color: var(--background);
    padding: 3rem 1.5rem 6rem
}

a.panel-block:hover, label.panel-block:hover {
    background-color: inherit;
    color: inherit
}

.panel-block {
    color: inherit
}

a.panel-block:hover, label.panel-block:hover {
    color: var(--color-blue)
}

/* Fix for Bulma's .number styling in ordered lists */
.number {
    align-items: inherit;
    background-color: inherit;
    border-radius: inherit;
    display: inherit;
    font-size: inherit;
    height: inherit;
    justify-content: inherit;
    margin-right: inherit;
    min-width: inherit;
    padding: inherit;
    text-align: inherit;
    vertical-align: inherit
}

/* ============================================
   Navigation
   ============================================ */
.navbar-item tspan.nerdy {
    fill: var(--text-color)
}

.navbar-brand .navbar-item {
    max-width: 230px
}

@media screen and (max-width: 1023px) {
    .navbar-menu {
        background-color: var(--background);
        color: var(--text-color);
        border-bottom: solid pink
    }
}

/* ============================================
   Content & Typography
   ============================================ */
.content h1 {
    color: #c62985;
    font-size: 2rem
}

.content h2 {
    color: var(--color-blue);
    font-size: 1.2em
}

.content h3 {
    color: #917ace;
    font-size: 1em
}

.content h4, .content h5, .content h6 {
    color: var(--color-orange)
}

/* ============================================
   Tags
   ============================================ */
a.nc-tag:hover {
    text-decoration: none !important
}

.nc-tag.is-primary {
    background-color: #5a3da5
}

.nc-tag.is-primary:hover {
    background-color: #917ace
}

/* ============================================
   Code Blocks
   ============================================ */
code {
    background-color: var(--background);
    color: var(--color-orange)
}

code[class*="language-"], pre[class*="language-"] {
    background-color: var(--code-background)
}

pre[class*=language-] {
    padding: 1.5rem;
    margin: .6rem -1.5rem 2rem !important;
    overflow: auto;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.06), 0 2px 2px rgba(0, 0, 0, 0.06), 0 4px 4px rgba(0, 0, 0, 0.06), 0 8px 8px rgba(0, 0, 0, 0.06), 0 16px 16px rgba(0, 0, 0, 0.06)
}

@media screen and (min-width: 800px) {
    pre[class*=language-] {
        padding: 1.5rem;
        margin-left: auto;
        margin-right: auto;
        border-radius: .35rem
    }

    code[class*=language-], pre[class*=language-] {
        font-size: .95rem
    }
}

/* ============================================
   Theme Toggle
   ============================================ */
.no-js .user-toggle {
    display: none
}

.theme-toggle {
    padding: 0.5rem 0.75rem
}

.user-toggle {
    margin: 2rem auto 0 auto;
    padding-top: 2.5rem;
    max-width: 20rem;
    border: none;
    text-align: center
}

.toggle-button__icon {
    background: var(--button-icon);
    width: 1.2em;
    height: 1.2em;
    margin: 0 0 0 0.5em;
    filter: var(--button-icon-filter);
    transform: translateY(1px);
    transition: filter 500ms ease-in-out
}

.js-mode-toggle {
    border: none;
    outline: none
}

.js-mode-toggle:focus:not(:active), .js-mode-toggle.is-focused:not(:active) {
    box-shadow: none;
    outline: none
}

.button.js-mode-toggle:focus, .button.js-mode-toggle:active, .button.js-mode-toggle.is-active {
    outline: none;
    border-color: inherit;
    color: inherit
}

/* ============================================
   Accessibility
   ============================================ */
.visually-hidden {
    display: block;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(1px);
    white-space: nowrap;
    position: absolute
}

/* ============================================
   Social Media Icons
   ============================================ */
.social-media__item {
    height: 2rem;
    transform-origin: center;
    transition-duration: .2s;
    transition-property: opacity, transform;
    width: 4rem
}

.facebook {
    --color: #3b5998;
    --hover-color: #2d4373
}

.discord {
    --color: #7289DA;
    --hover-color: #4e5d94
}

.github {
    --color: var(--text-color);
    --hover-color: var(--color-blue)
}

.instagram {
    --color: #E4405F;
    --hover-color: #c13584
}

.linkedin {
    --color: #15aabf;
    --hover-color: #0e7490
}

.pinterest {
    --color: #BD081C;
    --hover-color: #8a0615
}

.reddit {
    --color: #FF4500;
    --hover-color: #cc3700
}

.rss {
    --color: #FFA500;
    --hover-color: #cc8400
}

.tumblr {
    --color: #36465D;
    --hover-color: #222d3c
}

.twitter {
    --color: #55acee;
    --hover-color: #2795e9
}

.youtube {
    --color: #FF0000;
    --hover-color: #cc0000
}

/* ============================================
   Footer Social Media
   ============================================ */
.footer--social-media {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 3em;
    text-align: center;
    z-index: 10
}

.footer--social-media svg {
    height: auto;
    width: auto;
    max-height: 100%
}

.footer--social-media svg path {
    fill: var(--color)
}

.footer--social-media .social-media__item:hover svg path {
    fill: var(--color-green)
}

/* ============================================
   Misc Components
   ============================================ */
.home-link {
    margin-top: 3em
}

.rc-anchor-light {
    background: none;
    color: var(--text-color);
    font-family: inherit
}

/* ============================================
   Polaroid Picture Component
   ============================================ */
.picture {
    grid-area: picture;
    margin-bottom: 2em;
    margin-left: 1em
}

.picture__border {
    width: 100%;
    background: #f9f9f9;
    padding: 20px 10px 10px;
    height: 95%;
    transform: rotate(5deg);
    position: relative;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15)
}

.picture__border:after {
    content: "";
    width: 55%;
    height: 20px;
    top: -10px;
    z-index: 5;
    left: 25%;
    transform: rotate(-2deg);
    position: absolute;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    background: rgba(220, 220, 220, 0.4)
}

.picture__border img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.picture__border figcaption {
    margin: 10px 0;
    text-align: center;
    display: block;
    font: 1.10em "Permanent Marker";
    color: #444
}

/* ============================================
   Tape Effect
   ============================================ */
.tape {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 0 1em 0.5em rgba(255, 255, 255, 0.1);
    position: absolute;
    transform: rotate(-5deg);
    -webkit-filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.3))
}

.tape:after, .tape:before {
    background-size: .4em .4em;
    bottom: 0;
    content: '';
    position: absolute;
    top: 0;
    width: .2em
}

.tape:after {
    background-image: linear-gradient(45deg, transparent 50%, rgba(255, 255, 255, 0.3) 50%), linear-gradient(-45deg, transparent 50%, rgba(255, 255, 255, 0.3) 50%);
    background-position: 0 100%;
    left: -.2em
}

.tape:before {
    background-image: linear-gradient(135deg, transparent 50%, rgba(255, 255, 255, 0.3) 50%), linear-gradient(-135deg, transparent 50%, rgba(255, 255, 255, 0.3) 50%);
    background-position: 100% 100%;
    right: -.2em
}

/* ============================================
   Post List
   ============================================ */
ol.postlist {
    margin-left: 0em;
    margin-top: 1em
}

ol.postlist:not([type]) {
    list-style-type: none
}

/* ============================================
   Dotted Box / References Block
   ============================================ */
.dotted-box {
    border-radius: 1rem;
    border: 1px dotted var(--color-blue)
}

.references-block, .further-reading {
    border-radius: 1rem;
    border: 1px dotted var(--color-blue);
    font-size: 0.7em;
    margin: 3em 0 0;
    padding: 3em
}

.references-block__title {
    font-weight: 600;
    text-transform: uppercase
}

/* ============================================
   Box Shadow Utility
   ============================================ */
.box-shadow {
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777
}

/* ============================================
   Border Utilities
   ============================================ */
.border-top {
    border-top: 1px solid lightgrey
}

/* ============================================
   Marquee Animation
   ============================================ */
.marquee {
    width: 100%;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    will-change: transform;
    animation: marquee 20s linear infinite
}

.marquee span:hover {
    animation-play-state: paused
}

@keyframes marquee {
    0% {
        transform: translate(0, 0)
    }
    100% {
        transform: translate(-100%, 0)
    }
}

@media (prefers-reduced-motion: reduce) {
    .marquee {
        white-space: normal
    }

    .marquee span {
        animation: none;
        padding-left: 0
    }
}
