@import url("https://fonts.googleapis.com/css?family=Droid+Serif|Permanent+Marker");

/* ============================================
   Post Sidebar
   ============================================ */
.sidebar {
    padding-left: 3em
}

@media (min-width: 320px) and (max-width: 480px) {
    .sidebar {
        padding-left: inherit
    }
}

/* ============================================
   Mini Header
   ============================================ */
h4.mini-header {
    width: 100%;
    text-align: left;
    border-bottom: 1px solid var(--color-pink);
    line-height: 0.1em;
    margin: 10px 0 20px
}

h4.mini-header span {
    background-color: var(--background);
    font-size: 0.8em;
    padding-right: 0.3em;
    text-transform: uppercase
}

/* ============================================
   Published Date
   ============================================ */
.published {
    font-size: 0.8em
}

/* ============================================
   Sidebar Picture Adjustments
   ============================================ */
.sidebar .picture__border {
    padding: 20px 10px 15px
}

.sidebar .picture__border figcaption {
    font: 0.8em "Permanent Marker"
}

/* ============================================
   Share Buttons
   ============================================ */
.share {
    margin: 1.5em auto
}

.share .share-title {
    margin-right: 20px
}

.resp-sharing-button__link, .resp-sharing-button__icon {
    display: inline-block
}

.resp-sharing-button__link {
    text-decoration: none;
    color: #fff;
    margin: 0.5em;
    line-height: 1;
    font-size: 0.8em
}

.resp-sharing-button {
    border-radius: 5px;
    transition: 25ms ease-out;
    padding: 0.5em 0.75em;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif
}

.resp-sharing-button__icon svg {
    width: 1em;
    height: 1em;
    margin-right: 0.4em;
    vertical-align: top
}

.resp-sharing-button--small svg {
    margin: 0;
    vertical-align: middle
}

.resp-sharing-button__icon {
    stroke: #fff;
    fill: none
}

.resp-sharing-button__icon--solid, .resp-sharing-button__icon--solidcircle {
    fill: #fff;
    stroke: none
}

.resp-sharing-button--facebook {
    background-color: #3b5998
}

.resp-sharing-button--facebook:hover, .resp-sharing-button--facebook:active {
    background-color: #2d4373
}

.resp-sharing-button--hackernews {
    background-color: #FF6600
}

.resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:active {
    background-color: #FB6200
}

.resp-sharing-button--linkedin {
    background-color: #0077b5
}

.resp-sharing-button--linkedin:hover, .resp-sharing-button--linkedin:active {
    background-color: #046293
}

.resp-sharing-button--reddit {
    background-color: #5f99cf
}

.resp-sharing-button--reddit:hover, .resp-sharing-button--reddit:active {
    background-color: #3a80c1
}

.resp-sharing-button--twitter {
    background-color: #55acee
}

.resp-sharing-button--twitter:hover {
    background-color: #2795e9
}
