$notification-background-color: $background !default;
$notification-radius: $radius !default;
$notification-padding: 1.25rem 2.5rem 1.25rem 1.5rem !default;
$notification-padding-ltr: 1.25rem 2.5rem 1.25rem 1.5rem !default;
$notification-padding-rtl: 1.25rem 1.5rem 1.25rem 2.5rem !default;

$notification-colors: $colors !default;

.notification {
  @extend %block;

  background-color: var(--background-blue);
  border-radius: $notification-radius;
  color: white;
  position: relative;

  @include ltr {
    padding: $notification-padding-ltr;
  }


  @include rtl {
    padding: $notification-padding-rtl;
  }


  a:not(.button):not(.dropdown-item) {
    color: currentColor;
    text-decoration: underline;
  }

  strong {
    color: currentColor;
  }

  & > .delete {
    @include ltr-position(0.5rem);

    position: absolute;
    top: 0.5rem;
  }

  .title,
  .subtitle,
  .content {
    color: currentColor;
  }
}
