---
layout: list.njk
permalink: /developer-resources/
title: Developer Resources
css_include: /css/developer-resources.css
eleventyNavigation:
    key: Developer Resources
    order: 3
---

<p>A random, possibly useless list of <strong>resources</strong> aimed primarily at <strong>developers</strong>. I do
    not have any affiliate links on here and am only sharing what I find
    may be useful to some.</p>
<p>Please <a href="https://www.nerdycode.com/contact/" target="_blank" rel="noopener noreferrer">let me know</a> if you
    have any resources you'd like to share. :)</p>
<p class="is-size-6"><i>Last updated 2023/11/04</i></p>

<section class="section is-size-5">
    <div class="container">
        <div class="tile is-ancestor">
            <div class="tile box is-parent is-horizontal">

                <!-- Tag Labels -->
                <div class="tile is-child is-2">
                    <nav class="datanav">
                        <aside class="menu is-size-5">
                            <!--
                            <label for="All" class="menu-label"><a class="panel-block">All</a></label>
                            -->
                            {% for tag in devLinkTags %}
                                <label for="{{ tag.value }}" class="menu-label"><a
                                            class="panel-block">{{ tag.label }}</a></label>
                            {% endfor %}
                        </aside>
                    </nav>
                </div>

                <!-- Hidden Input Values for Tag Labels -->
                <input type="radio" id="Amusing" name="tags" value="Amusing" checked>

                {% for tag in devLinkTags %}
                    <input type="radio" id="{{ tag.value }}" name="tags" value="{{ tag.label }}">
                {% endfor %}

                <!-- Links -->
                <div class="tile is-child links">
                    <table class="table is-size-6">
                        <tbody>
                        {% for link in devLinks %}
                            <tr class="link" data-tag="{{ link.tags }}">
                                <td>
                                    <a href="{{ link.url }}" rel="nofollow noopener noreferrer"
                                       target="_blank">{{ link.title }}</a>
                                </td>
                                <td>{{ link.description }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>





