---
layout: home.njk
---

<!-- Mobile -->

<div class="is-hidden-tablet">
    <div class="typing"><p>Hello, world. I'm Rachel.</p></div>
    <p>I'm a software engineer with a passion for learning and teaching. I sometimes blog about things.</p>

    <div class="buttons">
        <a class="button is-primary is-small" href="https://www.instagram.com/nerdy.code" rel="nofollow"
           target="_blank">Instagram</a>
        <a class="button is-info is-small" href="https://www.twitter.com/nerdycode" rel="nofollow"
           target="_blank">Twitter</a>
        <a class="button is-danger is-small" href="/contact">Contact</a>
    </div>
</div>

<!-- Desktop -->
<div class="columns is-hidden-mobile dotted-box">
    <div class="column is-three-quarters">
        <div class="landing">
            <div class="typing pb-2">Hello, world. I'm Rachel.</div>
            <p>I'm a software engineer with a passion for learning and teaching. I sometimes
                blog about things.</p>
            <div class="buttons pt-5">
                <a class="button is-primary is-small" href="/about">About Me</a>
                <a class="button is-success is-small" href="https://www.instagram.com/nerdy.code" rel="nofollow"
                   target="_blank">Instagram</a>
                <a class="button is-warning is-small" href="https://www.twitter.com/nerdycode" rel="nofollow"
                   target="_blank">Twitter</a>
                <a class="button is-danger is-small" href="https://www.github.com/kahboom" rel="nofollow"
                   target="_blank">GitHub</a>
            </div>
        </div>

    </div>
    <!-- Sidebar -->
    <aside class="column sidebar is-hidden-mobile">
        <section>
            <div class="picture">
                <div class="picture__border">
                    <img src="/img/photos/rachel-cropped.jpg" alt="My face"/>
                    <figcaption>Hello, world.</figcaption>
                </div>
            </div>
        </section>
    </aside>
</div>

<!--
<div class="wrapper">
    <div class="typing">
        git commit -m "random thoughts on software"
    </div>
</div>
-->

<div class="home--latest-ramblings">
    <h2>⚡️ Latest Ramblings</h2>

    {% set postslist = collections.posts | head(-3) %}
    {% set postslistCounter = collections.posts | length %}
    {% include "_postslist.njk" %}
</div>

